.note {
  background-color: var(--background-color);
  padding: 8px;
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.note_title {
  margin: 0;
  font-family: var(--senibold-font);
  padding-left: 8px;
  font-size: 1rem;
}

.note-delete-button {
  border: none;
  background-color: var(--accent-text-color);
  font-size: 0.85rem;
  color: var(--background-color);
  padding: 6px 8px;
  font-family: var(--semibold-font);
}
