.note-content{
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 0 150px;
    display: flex;
    align-items: flex-start;
}

.note-block{
    /* background-color: var(--background-color); */
    border: solid 1.5px var(--accent-btn-color);
    margin-top: 20px;
    padding: 20px;
    width: 100%;
}

.note-text{
    min-height: 300px;
}

.back-button{
    margin-top: 20px;
    background-color: var(--accent-text-color);
    color: var(--accent-btn-text-color);
    text-align: center;
    font-size: 1.25rem;
    padding: 8px 16px;
}